.registration {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  .registration .div {
    background-color: #ffffff;
    height: 832px;
    overflow: hidden;
    position: relative;
    width: 1280px;
  }
  
  .registration .overlap-group {
    height: 556px;
    left: 40px;
    position: absolute;
    top: 107px;
    width: 1263px;
  }
  
  .registration .text-wrapper {
    color: var(--color-text-default-secondary);
    font-family: "Inter-Regular", Helvetica;
    font-size: 22.3px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 31.2px;
    position: absolute;
    top: 243px;
    width: 498px;
  }
  
  .registration .hack-a-trek {
    color: transparent;
    font-family: "Atma-Bold", Helvetica;
    font-size: 123px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 130.4px;
    position: absolute;
    top: 95px;
    width: 907px;
  }
  
  .registration .span {
    color: #000000db;
  }
  
  .registration .text-wrapper-2 {
    color: #65558f;
  }
  
  .registration .line {
    height: 1px;
    left: 786px;
    object-fit: cover;
    position: absolute;
    top: 182px;
    width: 346px;
  }
  
  .registration .img {
    height: 1px;
    left: 786px;
    object-fit: cover;
    position: absolute;
    top: 118px;
    width: 346px;
  }
  
  .registration .line-2 {
    height: 1px;
    left: 786px;
    object-fit: cover;
    position: absolute;
    top: 244px;
    width: 346px;
  }
  
  .registration .line-3 {
    height: 1px;
    left: 786px;
    object-fit: cover;
    position: absolute;
    top: 315px;
    width: 346px;
  }
  
  .registration .text-wrapper-3 {
    color: #000000ad;
    position: relative;
    font-family: "Blinker-Regular", Helvetica;
    font-size: 27.4px;
    font-weight: 400;
    left: 789px;
    letter-spacing: 0;
    line-height: 29.1px;
    position: absolute;
    top: 134px;
    white-space: nowrap;
    width: 155px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .registration .text-wrapper-4 {
    color: #000000ad;
    position: relative;
    font-family: "Blinker-Regular", Helvetica;
    font-size: 27.4px;
    font-weight: 400;
    left: 789px;
    letter-spacing: 0;
    line-height: 29.1px;
    position: absolute;
    top: 70px;
    white-space: nowrap;
    width: 155px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .registration .text-wrapper-5 {
    color: #000000ad;
    position: relative;
    font-family: "Blinker-Regular", Helvetica;
    font-size: 27.4px;
    font-weight: 400;
    left: 789px;
    letter-spacing: 0;
    line-height: 29.1px;
    position: absolute;
    top: 197px;
    white-space: nowrap;
    width: 155px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .registration .text-wrapper-6 {
    color: #000000ad;
    position: relative;
    font-family: "Blinker-Regular", Helvetica;
    font-size: 27.4px;
    font-weight: 400;
    left: 789px;
    letter-spacing: 0;
    line-height: 29.1px;
    position: absolute;
    top: 268px;
    white-space: nowrap;
    width: 267px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  
  .registration .wallpaper-bg {
    height: 547px;
    left: 727px;
    mix-blend-mode: color-burn;
    position: absolute;
    top: 9px;
    width: 536px;
  }
  
  .registration .text-wrapper-7 {
    color: #412884;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16.1px;
    font-weight: 400;
    left: 890px;
    letter-spacing: 0;
    line-height: 16.1px;
    position: absolute;
    text-decoration: underline;
    top: 393px;
    width: 161px;
  }
  
  .registration .button {
    all: unset;
    align-items: center;
    background-color: #65558f;
    border: 1.17px solid;
    border-color: var(--color-border-neutral-secondary);
    border-radius: 9.27px;
    box-sizing: border-box;
    display: flex;
    gap: var(--size-space-200);
    height: 37px;
    justify-content: center;
    left: 901px;
    overflow: hidden;
    padding: var(--size-space-200);
    position: absolute;
    top: 340px;
    width: 116px;
  }
  
  .registration .button-2 {
    all: unset;
    box-sizing: border-box;
    color: #ffffff;
    font-family: var(--single-line-body-base-font-family);
    font-size: var(--single-line-body-base-font-size);
    font-style: var(--single-line-body-base-font-style);
    font-weight: var(--single-line-body-base-font-weight);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    margin-top: -1.51px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .registration .navigation-pill-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-space-150);
    justify-content: flex-end;
    left: -298px;
    position: absolute;
    top: 8px;
    width: 1560px;
  }
  
  .registration .navigation-pill {
    border-radius: var(--size-radius-200);
    flex: 0 0 auto;
    gap: var(--size-space-200);
    position: relative;
  }
  
  .registration .title-wrapper {
    align-items: center;
    border-radius: var(--size-radius-200);
    display: inline-flex;
    flex: 0 0 auto;
    gap: var(--size-space-200);
    justify-content: center;
    padding: var(--size-space-200);
    position: relative;
  }
  
  .registration .title {
    color: var(--color-text-default-default);
    font-family: var(--single-line-body-base-font-family);
    font-size: var(--single-line-body-base-font-size);
    font-style: var(--single-line-body-base-font-style);
    font-weight: var(--single-line-body-base-font-weight);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .registration .overlap {
    background-color: #f6e11f;
    height: 201px;
    left: -50px;
    position: absolute;
    top: 687px;
    width: 1347px;
  }
  
  .registration .wallpaper-bg-2 {
    height: 145px;
    left: 34px;
    mix-blend-mode: color-burn;
    position: absolute;
    top: 1px;
    width: 1312px;
  }

  .registration .rectangle {
    background-color: #D9D9D9;
    height: 487px;
    left: 782px;
    position: absolute;
    top: 0;
    width: 413px;
    border-radius: 8px;
    z-index: -1;

  }