@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');



.registration {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;
}

.nav-container1 {
  font-family: "Atma", sans-serif;
  font-weight: 700;
  display: flex;
  gap: 10px; /* Add spacing between buttons */
  position: absolute;
  right: 20px; /* Align nav buttons to the right */
  top: -90px;
  z-index: 10;
}

.overlap-group {
  display: flex;
  flex-direction: column;
  z-index: 1; /* Ensure it stacks above the background */
}

.text-wrapper {
  font-family: "Atma", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.hack-a-trek {
  font-family: "Atma", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}



.conduct-hackathon-form {
  display: flex;
  flex-direction: column;
}

.conduct-hackathon-form label {
  position: relative;
  top: 60px;
  margin-bottom: 5px;
}

.conduct-hackathon-form input {
  position: relative;
  top: 60px;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  background-color: #655584;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  left: 70px;
  width: 70%;
  margin-top: 10px;
  position: relative;
  top: 60px;
}

.buttons:hover {
  background-color: #6F42C1;
}

.yello-bg-image-conduct {
  width: 1500px;
  height: 90px;
  position: relative;
  bottom: 200px;
  left: -570px;
  z-index: 0; /* Ensure it's behind other elements */
}

.account-circle-conduct {
  position: relative;
  right: 650px;
  top: -100px;
  z-index: 3; /* Ensure it's above other elements */
  font-size: 45px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.account-circle-conduct:hover {
  color: #ffffff;
}
